.timeline{
  width: 100vw;
  height: 15vh;
  display: flex;
}

.timelink{
  font-size: 400%;
  width:100vw;
  height:15vh;
  background-color: #DDE6ED;
  display:flex;
  justify-content: space-around;
  align-items: center;

  a{
    text-decoration: none;
    
  }

  a:hover{
    background-color: #526D82;
    color:white;
  }

}